@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define your custom components/classes here */

body {
  box-sizing: border-box;
  @apply 
    font-['Segoe_UI',_Tahoma,_Geneva,_Verdana,_sans-serif]
    text-slate-700
    bg-slate-200
    min-h-screen
    w-screen 
    overflow-x-hidden
}

.dark body {
  @apply 
    dark:text-slate-300
    dark:bg-gradient-to-br 
    dark:from-dark-bg-start 
    dark:to-dark-bg-end;
}

/* - - - - - - COMPONENTS - - - - - - */
@layer components {
  /* GRADIETNS */
  .title-gradient {
    @apply
    text-gradient 
    bg-gradient-to-r 
    from-custom-purple-start 
    to-custom-purple-end
    dark:from-dark-purple-start 
    dark:to-dark-purple-end 
    text-transparent;
  }

  .icon-gradient {
    @apply
    bg-gradient-to-r 
    from-custom-purple-start 
    to-custom-purple-end
    dark:from-dark-purple-start 
    dark:to-dark-purple-end;
  }

  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  /* BUTTONS settings */
  .hero-buttons {
    @apply 
    flex 
    flex-col 
    sm:flex-row 
    gap-5 
    justify-center;
  }

  .btn {
    @apply 
    inline-flex 
    items-center 
    justify-center 
    px-8 py-3 
    rounded-full 
    text-base 
    font-medium 
    transition 
    duration-300 
    ease-in-out 
    whitespace-nowrap;
  }
  
  /* BUTTONS animations --- */
  .btn-animation {
    @apply
    hover:-translate-y-0.5
    hover:translate-x-0.5
    hover:shadow-lg
    hover:shadow-slate-900
    transition-all 
    duration-300 
    ease-in-out;
  }

  .btn-animation-t {
    @apply
    /* ANIMATION */
    -translate-y-1
    shadow-2xl
    shadow-slate-900
    transition-all 
    duration-300 
    ease-in-out;
  }

  .btn-animation-r-t {
    @apply
    hover:-translate-y-0.5
    hover:translate-x-0.5
    hover:shadow-lg
    hover:shadow-slate-900
    transition-all 
    duration-300 
    ease-in-out;
  }

  /* BUTTONS styles */
  .btn-submit {
    @apply 
     text-white 
     bg-gradient-to-r 
     from-custom-purple-start 
     to-custom-purple-end 
     focus:outline-none 
     focus:ring-2 
     focus:ring-offset-2 
     focus:ring-custom-purple-start 
     dark:focus:ring-offset-dark-card 
     hover:from-custom-purple-end
     hover:to-custom-purple-start
  }

  .btn-primary {
    /* Inherits .btn, then adds primary specific styles */
    @apply
    /* CONTAINER */
    inline-block 
    py-3.5 px-8 
    rounded-xl

    /* FONT */
    font-semibold
    text-base 
    sm:text-lg
    text-white
    
    /* BACKGROUND */
    bg-gradient-to-r
    from-custom-purple-start 
    to-custom-purple-end

    /* HOVER */
    hover:text-purple-900
    hover:from-dark-purple-start
    hover:to-dark-purple-end

    /* FOCUS */
    focus:ring-custom-purple-start
    focus:outline-none 
    focus:ring-2 
    focus:ring-offset-2
    
    /* Dark */
    dark:text-slate-200
    dark:from-dark-purple-start
    dark:to-dark-purple-start/50

    /* Dark Hover */
    dark:hover:text-custom-purple-end 
    dark:hover:from-dark-purple-end
    dark:hover:to-dark-purple-start
    dark:focus:ring-offset-dark-card;
  }

  .btn-secondary {
    /* Inherits .btn, then adds secondary specific styles */
    @apply 
      bg-custom-purple-start/10 
      text-custom-purple-start 
      border-2 
      border-custom-purple-start/20 
      hover:bg-custom-purple-start/20;
    /* Dark mode adjustments - Tailwind handles these automatically when dark mode is enabled */
    @apply 
      dark:bg-white/5 
      dark:text-indigo-300 
      dark:border-indigo-400/30 
      dark:hover:bg-white/10;
  }

  .btn-profile {
    /* Inherits .btn, then adds primary specific styles */
    @apply
      bg-gradient-to-r 
    from-custom-purple-start/50
    to-custom-purple-end/50
    hover:text-slate-200
    hover:from-custom-purple-start/100
    hover:to-custom-purple-end/100;
    /* Dark mode adjustments - Tailwind handles these automatically when dark mode is enabled */
    @apply
     /* dark:text-gray-400 */
     dark:from-custom-purple-start
     dark:to-custom-purple-end
     dark:hover:text-slate-800
     dark:hover:from-dark-purple-end
     dark:hover:to-dark-purple-start;
  }

  /* --- OTHERS --- */
  .feature-icon-bg {
      @apply 
      w-16 h-16 
      sm:w-20 sm:h-20 
      rounded-full 
      bg-gradient-to-br 
      from-custom-purple-start 
      to-custom-purple-end 
      dark:from-dark-purple-start 
      dark:to-dark-purple-end 
      mx-auto mb-6 
      flex 
      items-center 
      justify-center 
      text-3xl 
      sm:text-4xl 
      text-white 
      shadow-lg 
      transition-all 
      duration-300 
      group-hover:scale-110;
  }

  .card-data {
      @apply
      space-y-4 
      md:mt-0 
      mt-8 p-10
      bg-purple-100
      dark:bg-[#23003d]
      rounded-xl;
  }

  .data-field {
    @apply
    flex 
    grid-cols-2
    gap-2
    items-baseline
    bg-dark-purple-end
    dark:bg-dark-purple-start
    py-2 px-4
    rounded-lg
  }
}


/* - - - - - - ANIMATIONS - - - - - - */
  @keyframes slideInUp {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
  }

  .animate-slideInUp { animation: slideInUp 0.6s ease-out forwards; }

  /* Custom styles for carousel dots */
  .carousel-dot {
      width: 10px;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.3); /* Default dot color */
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  .carousel-dot.active {
      background-color: #6B46C1; /* Active dot color */
  }